<div>
{{#if user}}
    <h1>Bienvenido {{user.first_name}} {{user.last_name}} - <a href="/auth/logout">Cerrar Sesión</a></h1>
    <h1><a href="/session/current">Datos de Perfil</a></h1>
    {{!-- <h1>Rol: {{user.role}}</h1> --}}
  {{else}}
    <h3>Login Error - <a href="/auth/logout">Volver</a></h1></h3>
  {{/if}}
  <h1>Products</h1>
  <div type="button"><a href="/carts/647b3b7913a444c39b2337bf">Go to Cart</a></div>
  {{#if payload}}
    {{#each payload}}
      {{#with this}}
        <div>
          <h4>{{_id}} - Product: {{title}}</h4>
          <p>Description: {{description}}</p>
          <p>Price: {{price}}</p>
          <p>Stock: {{stock}}</p>
          <div type="button">Add to cart</div>
        </div>
      {{/with}}
    {{/each}}
  {{else}}
    <h3>You have not received any product yet</h3>
  {{/if}}
</div>
